# Xcode User Data
DerivedData/
*.xcuserdatad/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcscmblueprint

# Tuist 자동 생성 산출물
Tuist/Derived/
Tuist/Cache/
*.xcodeproj
*.xcworkspace
Project.swift.json
*.tuist-dump

# Swift Package Manager
.swiftpm/
.build/
Package.resolved

# OS / IDE / Misc
.DS_Store
.idea/
.vscode/

# User local settings
*.env.local
*.secrets